.list-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px 20px;
    height: 150vh;
}

.list-left{
    flex: 1;
}

.list-right{
    flex:5;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: flex-start;
}

.sorting{
    display: flex;
    flex-direction: column;
}

.sorting input{
    display: inline-block;
}

.sorting label{
    display: inline-block;
}

.checkbox-container{
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.checkbox-container input[type="checkbox"]{
    margin-right: 5px;
}

.hidden{
    display: none;
}

.sorting-tag{
    position: relative;
    width: max-content;
}

.sorting-tag::after{
    content: "";
    background: rgb(171, 171, 171);
    border-radius: 100px;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.sorting-types{
    position:relative;
    width: inherit;
    margin-top: 20px;
    padding: 10px;
}

.sorting-fixed{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sorting-types span{
    flex: 9;
}

.sorting-types button{
    flex: 1;
}

.sorting-types::after{
    content: "";
    background: rgb(171, 171, 171);
    border-radius: 100px;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.clear-filter-button{
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    background-color: inherit;
    text-align: left;
    color: rgb(117, 117, 117);
}