.singlejuben-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.singlejuben-div{
    display: grid;
    grid-template-areas: 
        "navigation navigation"
        "carousel-div content-div"
        "carousel-div content-div"
        "description-div description-div";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 16px;
    width: 85%;
    align-items: center;
}

.carousel-div{
    grid-area: carousel-div;
    height: 100%;
    
}

.content-div{
    grid-area: content-div;
}

.description-div{
    grid-area: description-div;
}

.singlejuben-navigation{
    grid-area: navigation;
    display: flex;
    margin-bottom: 5%;
    font-weight: 500;
    font-size: 1.1rem;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.singlejuben-link{
    text-decoration: none;
    color: black;
    line-height: 1.1rem;
    vertical-align: middle;
}

.singlejuben-navigation-slash{
    margin: 0 5px;
    line-height: 1.1rem;
    vertical-align: middle;
}

.singlejuben-navigation-slash span{
    line-height: 1.1rem;
    vertical-align: middle;
}

.singlejuben-navigation-title{
    color: grey;
}

.singlejuben-link-home{
    color: grey;
}